
.headerSec{
    display: flex;
}
nav{
    display: flex;
    justify-content: space-between;
 

}
nav ul{
    list-style: none;
}
nav>ul{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 10px;

}
nav ul li a{
    text-decoration: none;
    margin-right: 20px;
    color: #424247;
}
nav>ul>li>a:hover {
    color: bisque;
    
  }
  .hamburger{
    display: none;
  }
.explore{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 800px;
    padding: 100px;
    border-radius: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
url(./Images/explore.png); 
  border-radius: 10px;
}
.exploreNav{
        padding: 10px 20px;
        border-radius: 5px;
        max-width: 100px;
      
}
.exploreText{
    color: white;
    text-align: center;
    top: 50%;
}
.exploreText h2{
    font-size: 3rem;
}

.exploreBox ul{
    list-style: none;
    display: flex;
    padding: 20px;
    justify-content: center;
    background: linear-gradient(
      rgba(185, 183, 183, 0.5),
      rgba(178, 175, 175, 0.5)
    );
    border-radius: 10px;
}
.exploreBox li{
    padding: 10px;

}

.findNow{
    background-color: #ff5400;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;


}