body{
    margin: 0;
    padding: 0;
}

.headerSec{
    display: flex;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav>ul{
    display: flex;
    justify-content: space-between;
    list-style: none;

}
nav>ul>li>a{
    text-decoration: none;
    
}
.explore{
    width: 1170px;
height: 500px;
flex-shrink: 0;
background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
url(../assets/Images/Group\ 13\ \(1\)\ \(1\).png); 
}